<!DOCTYPE html>
<html lang="en">
  <%- include('../../components/header') %>
  <body>
    <% if(dataTokenJWT){ %> <%- include('../../components/navbar_user') %> <%
    }else{ %> <%- include('../../components/navbar') %> <% } %>
    <div class="mx-auto mt-8 w-full px-2 sm:px-2 lg:px-4 max-w-xl">
      <div
        class="mx-auto mt-8 w-full max-w-container px-4 sm:px-6 lg:px-8 text-center mb-2"
      >
        <h2>CREATE</h2>
      </div>
      <form
        method="post"
        action="/users"
        class="bg-white shadow-md rounded px-4 pt-6 pb-8 mb-4"
      >
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
            Name
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="name"
            type="text"
            placeholder="Name"
            name="name"
            required
          />
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
            Email
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="email"
            type="text"
            placeholder="Email"
            name="email"
            required
          />
        </div>
        <div class="mb-6">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="password"
          >
            Password
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="password"
            type="password"
            placeholder="******************"
            name="password"
            required
          />
        </div>
        <div class="flex items-center justify-between">
          <button
            class="w-full inline-block align-baseline bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit"
          >
            SUBMIT
          </button>
        </div>
      </form>
      <p class="text-center text-gray-500 text-xs">
        &copy;2020 EJFA. All rights reserved.
      </p>
    </div>
    <%- include('../../components/footer') %>
  </body>
</html>
