<!DOCTYPE html>
<html lang="en">
  <%- include('../components/header') %>
  <body>
    <%- include('../components/navbar') %>
    <h2>Home</h2>
    <%- include('../components/footer') %>
  </body>
</html>
